@font-face {
	font-family: "HelveticaNeue";
	src: url("fonts/HelveticaNeue-Light.woff");
}

@font-face {
	font-family: "Helvetica";
	src: url("fonts/Helvetica.woff");
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto.woff");
}



html, body {

	width: 100%;
	height: 100%;

	margin: 0px;

	padding: 8px;
	box-sizing: border-box;
	/* background: #e4e7ea; */
}

html {

	background: linear-gradient(45deg, #d59cbe, #98bcda);
	/* background: linear-gradient(45deg, #bfcbca, #a8d1cf); */
	/* background: radial-gradient(at top, #FEFFFF, #A7CECC); */

	/* background: linear-gradient(185deg, #a8d1cf, #d59cbe); */
    /* background-size: 400% 400%; */
	/* animation: bodyGradient 60s ease infinite; */
}

@keyframes bodyGradient {
	0% { background-position: 48% 0% }
    50% { background-position: 53% 100% }
    100% { background-position: 48% 0% }
}

#body {

	border-radius: 8px;
	background: #fff;
	width: 100%;
	height: 100%;
	position: relative;
    display: inline-grid;
	overflow: hidden;

	box-shadow: 0px 0px 0px 6px rgba(255, 0255, 255, .3);
	/* animation: bodyShadow 3s ease infinite; */
	/* animation-direction: alternate-reverse; */
}

@keyframes bodyShadow {
	0% { box-shadow: 0px 0px 0px 4px rgba(255, 0255, 255, .6); }
    100% { box-shadow: 0px 0px 0px 9px rgba(255, 0255, 255, .3); }
}

#scroll {

	/* header height */
	margin-top: 80px;

	/* scrollbar */
	-webkit-background-clip: text;
	background-color: rgba(0, 0, 0, 0);
	overflow-y: scroll;
	transition: background-color .3s ease;
}

#scroll:hover {

	background-color: #b9b9b9;
}

#scroll::-webkit-scrollbar {

	width: 12px;
}

#scroll::-webkit-scrollbar-button {

	border-radius: 12px;
    border: 4px solid transparent;
    background-clip: padding-box;
}

#scroll::-webkit-scrollbar-thumb {

	background-color: inherit;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: padding-box;
}

#content {

	padding: 12px 0 12px 12px;
	font-size: 21px;
	background: #fff;
}

#content b {

	font-size: 21px;
}



* {

	font-family: HelveticaNeue;
	letter-spacing: 0.6pt;
    word-spacing: 0.3em;
	font-size: 16px;
	color: #58697d;
	user-select: none;
}








/*
	Header
*/

#header {

	display: flex;
	align-items: center;

	width: 100%;
	height: 80px;
	box-shadow: 0 8px 24px -24px #000;
    /* background: #cad2da; */
	position: absolute;
}

input {

	border: none;
	outline: none;
}

#search {

	background: #fff;
    padding: 16px 32px;
    border-radius: 32px;

    font-size: 20px;
	/* font-weight: bold; */
	color: #313131;

    width: 512px;
    height: 48px;

    margin: 0 24px;
}

account {

	display: flex;
    align-items: center;
	margin-left: auto;
	/* margin-right: 24px; */
	padding: 0 36px;

	/* position: relative; */
	height: inherit;

	cursor: pointer;
}

account name {

	font-size: 16px;
    margin-right: 16px;
}

account avatar {

	background: #cde1f3;
    width: 48px;
    height: 48px;
	border-radius: 100%;

	overflow: hidden;

	display: flex;
    align-items: center;
	justify-content: center;
}

account avatar img {

	width: 48px;
}

#search::placeholder {

	color: #9097a4;
}




/*
	Options
*/

options {

	position: absolute;
	min-width: 192px;
	padding: 6px 0;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	background: #fff;
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .1);

	right: 0;
    top: 100%;

	visibility: hidden;
	opacity: 0;
	margin-top: 12px;

	transition: visibility .2s linear, opacity .2s linear, margin .3s ease;
}

options.enabled {

	visibility: visible;
	opacity: 1;
	margin-top: 0px;
}

options::before {

	content: '';
    width: 12px;
    height: 12px;
    display: block;

	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom-color: transparent;
    border-right-color: transparent;
	border-radius: 2px 0 100% 0;

    transform: rotate(45deg);
    position: absolute;
	top: -8px;
    right: 24px;
	background: #fff;
	z-index: 0;
}

options item {

	display: block;
	background: #fff;
	padding: 0 16px;
	line-height: 36px;
	color: #777;
	cursor: pointer;

	font-family: Roboto;
	font-size: 14px;

	position: relative;
	z-index: 1;
}

options div {

	display: block;
	height: 1px;
    margin: 6px 0;
    background: rgba(0, 0, 0, .1);
}

options item:hover {

	background: #eaf1f7;
}

options.account {

    right: 26px;
}
















/*
	File
*/

.file_area {

	width: 512px;
	background: #fff;
	overflow: hidden;

	/* temp */
	margin: 36px;
	border-radius: 3px;
}

.file_area span:first-child {

	height: 48px;
	text-transform: uppercase;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px solid #eaeaed;
}











.file {

	display: flex;
	flex-direction: column;
	flex-grow: 1;

	width: inherit;
	/* border-bottom: 1px solid #eaeaed; */
	padding: 6px 16px;
    box-sizing: border-box;

	position: relative;
	overflow: hidden;
}




/*
	File
	Extension, Size
*/

.file span {

	display: flex;
    align-items: center;
	padding: 2px 0;
	transition: margin .3s ease;
}

.file span::before {

	content: attr(ext);

	border-radius: 5px;
	margin-right: 6px;
    padding: 4px 8px;

    font-family: Roboto;
    font-size: 10px;
    text-transform: uppercase;

	color: #7d7d7d;
    background: #ececec;
}

.file span[ext='pdf']::before {
	color: #ef4f91;
    background: #f7e3e8;
}

.file span[ext='xls']::before,
.file span[ext='xlsx']::before {
	color: #20b56a;
    background: #e8f7f0;
}

.file span[ext='rtf']::before,
.file span[ext='doc']::before,
.file span[ext='docx']::before {
	color: #2085b5;
    background: #e8edf7;
}

.file size {

	font-family: Roboto;
	font-size: 12px;
	/* float: right; */
}





.file input {

	outline: none;
    appearance: none;
    border: none;
    background: transparent;
    color: #606468;
	padding: 4px 0px 4px 0px;
    /* margin-bottom: 22px; */
}








.file progress {

	appearance: none;

    width: inherit;
	height: 2px;
    align-self: center;
    position: absolute;
    bottom: 0;
    transition: margin .3s ease;
}

/* .file[ext]:not([ext=''])::before {

	content: attr(ext);
    color: #7d7d7d;
    background: #ececec;
	border-radius: 5px;
    padding: 4px 7px;
    margin-right: 12px;
    font-size: 10px;
    font-weight: bold;
    align-self: center;
    font-family: Roboto;
    text-transform: uppercase;
}

.file[ext='pdf']::before {

	color: #ef4f91 !important;
    background: #f7e3e8 !important;
}

.file[ext='xls']::before,
.file[ext='xlsx']::before {

	color: #20b56a !important;
    background: #e8f7f0 !important;
}

.file[ext='rtf']::before,
.file[ext='doc']::before,
.file[ext='docx']::before {

	color: #2085b5 !important;
    background: #e8edf7 !important;
}

.file::afterS {

	content: attr(size);
	font-size: 12px;
} */








.file progress::-webkit-progress-bar {
	background: #dcdcdc;
	/* border-radius: 4px; */
}

.file progress::-webkit-progress-value {
	background: #60bff7;
	/* background: #ffcc66; */
	border-radius: 4px;
	transition: width 0.5s ease;
}

.file progress[error]::-webkit-progress-value {
	background: #ef4f91;
}

.file progress[done]::-webkit-progress-value {
	background: #80ce98;
}




.shake {
	color: red !important;
	transition: color .3s;
	filter: blur(1px);
	animation: shake .3s linear;
}

@keyframes shake {
	0% { text-indent: 0px; }
	25% { text-indent: 12px; }
	50% { text-indent: 3px; }
	75% { text-indent: 9px; }
	100% { text-indent: 6px; }
}
