@font-face {
	font-family: "Helvetica";
	src: url("fonts/Helvetica.woff");
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto.woff");
}



html, body {

	width: 100%;
	height: 100%;

	margin: 0px;
	background: #eaeaed;
}



* {

	font-family: Helvetica;
	letter-spacing: 0.6pt;
    word-spacing: 0.1em;
	font-size: 16px;
	color: #8d9398;
	user-select: none;
}


/*
	File
*/

.file_area {

	width: 512px;
	background: #fff;
	overflow: hidden;

	/* temp */
	margin: 36px;
	border-radius: 3px;
}

.file_area span:first-child {

	height: 48px;
	text-transform: uppercase;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px solid #eaeaed;
}











.file {

	display: flex;
	flex-direction: column;
	flex-grow: 1;

	width: inherit;
	/* border-bottom: 1px solid #eaeaed; */
	padding: 6px 16px;
    box-sizing: border-box;

	position: relative;
	overflow: hidden;
}




/*
	File
	Extension, Size
*/

.file span {

	display: flex;
    align-items: center;
	padding: 2px 0;
	transition: margin .3s ease;
}

.file span::before {

	content: attr(ext);

	border-radius: 5px;
	margin-right: 6px;
    padding: 4px 8px;

    font-family: Roboto;
    font-size: 10px;
    text-transform: uppercase;

	color: #7d7d7d;
    background: #ececec;
}

.file span[ext='pdf']::before {
	color: #ef4f91;
    background: #f7e3e8;
}

.file span[ext='xls']::before,
.file span[ext='xlsx']::before {
	color: #20b56a;
    background: #e8f7f0;
}

.file span[ext='rtf']::before,
.file span[ext='doc']::before,
.file span[ext='docx']::before {
	color: #2085b5;
    background: #e8edf7;
}

.file size {

	font-family: Roboto;
	font-size: 12px;
	/* float: right; */
}





.file input {

	outline: none;
    appearance: none;
    border: none;
    background: transparent;
    color: #606468;
	padding: 4px 0px 4px 0px;
    /* margin-bottom: 22px; */
}








.file progress {

	appearance: none;

    width: inherit;
	height: 1px;
    align-self: center;
    position: absolute;
    bottom: 0;
    transition: margin .3s ease;
}

/* .file[ext]:not([ext=''])::before {

	content: attr(ext);
    color: #7d7d7d;
    background: #ececec;
	border-radius: 5px;
    padding: 4px 7px;
    margin-right: 12px;
    font-size: 10px;
    font-weight: bold;
    align-self: center;
    font-family: Roboto;
    text-transform: uppercase;
}

.file[ext='pdf']::before {

	color: #ef4f91 !important;
    background: #f7e3e8 !important;
}

.file[ext='xls']::before,
.file[ext='xlsx']::before {

	color: #20b56a !important;
    background: #e8f7f0 !important;
}

.file[ext='rtf']::before,
.file[ext='doc']::before,
.file[ext='docx']::before {

	color: #2085b5 !important;
    background: #e8edf7 !important;
}

.file::afterS {

	content: attr(size);
	font-size: 12px;
} */








.file progress::-webkit-progress-bar {
	background: #dcdcdc;
	/* border-radius: 4px; */
}

.file progress::-webkit-progress-value {
	background: #60bff7;
	/* background: #ffcc66; */
	border-radius: 4px;
	transition: width 0.5s ease;
}




.shake {
	color: red !important;
	transition: color .3s;
	filter: blur(1px);
	animation: shake .3s linear;
}

@keyframes shake {
	0% { text-indent: 0px; }
	25% { text-indent: 12px; }
	50% { text-indent: 3px; }
	75% { text-indent: 9px; }
	100% { text-indent: 6px; }
}
